body {
  font-family: "Roboto", sans-serif;
}

#welcome {
  margin: 50px auto 0 auto;
}

#successMessage {
  max-height: 40px;
  overflow: hidden;
  display: flex;
}

#successMessage.show {
  display: flex;
}

#loadingMessage {
  max-height: 40px;
  overflow: hidden;
  display: flex;
}

#loadingMessage.show {
  display: flex;
}