body {
  font-family: "Roboto", sans-serif;
  background-image: url("/images/background.png");
  background-repeat: repeat;
  height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

#successMessage {
  max-height: 40px;
  overflow: hidden;
  display: flex;
}

#successMessage.show {
  display: flex;
}

#loadingMessage {
  max-height: 40px;
  overflow: hidden;
  display: flex;
}

#loadingMessage.show {
  display: flex;
}

/* small screens */
@media (max-width: 576px) {
  .about-text {
    font-size: 16px; 
  }
}

/* medium screen */
@media (min-width: 577px) and (max-width: 992px) {
  .about-text {
    font-size: 18px;
  }
}

/* large screens */
@media (min-width: 993px) and (max-width: 1200px) {
  .about-text {
    font-size: 20px;
  }
}

/* extra-large screens */
@media (min-width: 1201px) {
  .about-text {
    font-size: 25px; 
  }
}