body {
  font-family: "Roboto", sans-serif;
  background-image: url("/images/background.png");
  background-repeat: repeat;
  height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

#successMessage {
  max-height: 40px;
  overflow: hidden;
  display: flex;
}

#successMessage.show {
  display: flex;
}

#loadingMessage {
  max-height: 40px;
  overflow: hidden;
  display: flex;
}

#loadingMessage.show {
  display: flex;
}
